@namespace Inspector.UI
@using Inspector.Watch
@inherits Panel

<root class="inspector-view inspector-watch-view">
	@if ( Service.WatchMetrics.Count == 0 )
	{
		<InspectorEmptyState Icon="monitoring" Message="Add watch values from selected properties." />
	}
	else
	{
		<div class="inspector-watch-overview-header">
			<span>Live Overview</span>
			<button title="More"><i>more_horiz</i></button>
		</div>
		<div class="inspector-watch-overview">
			@foreach ( var metric in Service.WatchMetrics.Take( 4 ) )
			{
				<div class="inspector-watch-card">
					<div class="label">@metric.Name</div>
					<div class="value @AccentClass( metric )">@metric.FormatValue()</div>
					<div class="sparkline">
						@foreach ( var barClass in SparklineBars( metric ) )
						{
							<div class="sparkline-bar @AccentClass( metric ) @barClass"></div>
						}
					</div>
				</div>
			}
		</div>

		@foreach ( var group in GroupedMetrics )
		{
			<InspectorSection Title="@group.Key" Icon="@IconForGroup( group.Key )">
				<ChildContent>
					@foreach ( var metric in group )
					{
						<div class="inspector-watch-row">
							<i class="pin">push_pin</i>
							<div class="name">@metric.Name</div>
							<div class="value">@metric.FormatValue()</div>
							<div class="sparkline">
								@foreach ( var barClass in SparklineBars( metric ) )
								{
									<div class="sparkline-bar @AccentClass( metric ) @barClass"></div>
								}
							</div>
							<div class="status @AccentClass( metric )"></div>
							<i class="menu">more_horiz</i>
						</div>
					}
				</ChildContent>
			</InspectorSection>
		}

		<button class="inspector-bottom-button">
			<i>add</i>
			<span>Add Watch</span>
		</button>
	}
</root>
