@namespace Inspector.UI
@inherits Panel

<InspectorSection Title="Transform" Icon="open_with">
	<ChildContent>
	<div class="inspector-transform-grid">
		<div class="inspector-transform-grid label"></div>
		<div class="inspector-transform-grid group">
			<span class="axis-x">X</span>
		</div>
		<div class="inspector-transform-grid group">
			<span class="axis-y">Y</span>
		</div>
		<div class="inspector-transform-grid group">
			<span class="axis-z">Z</span>
		</div>
	</div>

		<InspectorVector3Row Label="Position" Value="@Position" ValueChanged="@SetPosition" />
		<InspectorVector3Row Label="Rotation" Value="@RotationAngles" ValueChanged="@SetRotationAngles" />
		<InspectorVector3Row Label="Scale" Value="@Scale" ValueChanged="@SetScale" />
	</ChildContent>
</InspectorSection>
